@mixin reset {
    margin:0;
    padding:0;
    box-sizing:border-box;
}



@mixin fonts($font-size: "inherit", $line-height:"normal", $letter-spacing:"normal") {
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}


@mixin buttons($color, $bg-color, $border-color:transparent ) {

   padding: {
    top: 1.5rem;
    bottom: 1.5rem;
    left: 3.15rem;
    right: 2.95rem;
   }

   color: $color;
   background-color: $bg-color;
   font-size: 1.3rem;
   font-weight: 700;
   letter-spacing: 1px;
   text-transform: uppercase;
   border: 1px solid $border-color;
}

@mixin buttons_hover ($color, $bg-color) {
   background-color: $bg-color;
   color: $color;
}
