//COLORS
$dark-orange-color:#D87D4A;
$orange-color:#fbaf85;
$white-color:#ffffff;
$black-color:#000000;
$secondary-black-color:#101010;
$silver-color:#f1f1f1;
$light-silver-color:#fafafa;
$main-font: "Manrope",sans-serif;


//FONTS
$h1-fs:5.6rem;
$h1-lh:1.03;
$h1-ls:2px;

$h2-fs:4rem;
$h2-lh:1.1;
$h2-ls:1.5px;

$h3-fs:3.2rem;
$h3-lh:1.12;
$h3-ls:1.15px;

$h4-fs:2.8rem;
$h4-lh:1.3;
$h4-ls:2px;

$h5-fs:2.4rem;
$h5-lh:1.37;
$h5-ls:1.7px;

$h6-fs:1.8rem;
$h6-lh:1.3;
$h6-ls:1.3px;


$body-fs:1.5rem;
$body-lh:1.66;


$title-label-fs:1.4rem;
$title-label-lh:1.35;
$title-label-ls:1rem;

$subtitle-fs:1.3rem;
$subtitle-lh:1.9;
$subtitle-ls:1px;